html, body {
  margin: 0px;
  background: url(img/background.svg);
  width: auto;
  height: auto;
}

.holder {
  position: relative;
  width: 100%;
  background: rgb(251, 203, 114, 0.8);
}

.label {
  text-align: center;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  padding-bottom: 5px;
}

#map {
  height: 400px;
  width: auto;
  border-bottom: solid 6px;
  border-color: rgb(65, 126, 201, 0.6);
}
